@{
    ViewBag.Title = "Home Page";
}
<div class="row" style="margin-top: 30px;">
    <div class="col-md-5">
        <img src="~/Content/images/logotipo_controlefinanceiro.jpg" />
    </div>
    <div class="col-md-7">
        <h1>Controle de Gastos de Forma Simples</h1>
        <p class="lead">Controle o que você gastou de forma simples e direta classificando seus gastos de acordo com seu tipo e lugar.</p>
        <p style="text-align: right;"><a href="/Compras" class="btn btn-primary btn-lg">Comece agora!</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Categorias</h2>
        <p>
            Comprou um presente para seu filho? Foi ao cinema com sua namorada? Registre exatamente qual tipo de gasto que você e aumente o controle de suas finanças.
        </p>
    </div>
    <div class="col-md-4">
        <h2>SubCategorias</h2>
        <p>Onde você gasta mais? Saber onde você investe seu dinheiro mensalmente é crucial para se planejar e cortar despesas!</p>
    </div>
    <div class="col-md-4">
        <h2>Estatísticas</h2>
        <p>Ao final do mês, você poderá saber quanto, onde e quando gastou. Assim, poderá se planejar melhor para o próximo mês e saber exatamente onde precisá investir seu dinheiro ou diminuir seus gastos!</p>
    </div>
</div>